@charset "utf-8";
@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@1,600&family=Black+Han+Sans&family=Cairo:wght@600&family=Cute+Font&family=Gugi&family=Jua&family=Klee+One&family=Kolker+Brush&family=Nanum+Brush+Script&family=Single+Day&family=Xanh+Mono&family=Zen+Dots&display=swap");

body {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

main {
  position: relative;
  width: max(500px, 80vw);
  height: 1500px;
  margin: 0 auto;
  outline: 5px solid black;
  text-align: center;

  overflow-x: hidden;
}
.h1_cover {
  position: relative;
  width: 100%;
  top: 0;
  background-color: black;
  height: 100px;
}
.h1 {
  text-align: center;
  margin: 0;
  color: aliceblue;
  padding-top: 25px;
}
.title_border {
  position: relative;
  margin-left: 20px;
  font-size: 30px;
  top: 4px;
  font-family: "Jua", sans-serif;
}
#title_border {
  position: relative;
  width: 300px;
  font-size: 20px;
  margin-top: 30px;
}
.tag {
  position: relative;
  margin-left: 20px;
  font-size: 28px;
  top: 5px;
}
#tag {
  position: relative;
  width: 200px;
  font-size: 18px;
  margin-top: 30px;
}
.text_for_input {
  display: block;
  font-size: 40px;
  font-weight: bold;
  position: relative;
  width: 100%;

  top: 0;
  letter-spacing: 5px;
  font-family: "Jua", sans-serif;
}

.cover_styels {
  width: 70%;
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
}
#text_for_input {
  font-size: 20px;
  position: relative;
  /* top: 5%; */
  padding-bottom: 50px;
  width: 100%;
  height: 500px;
  outline-color: 5px solid black;
  font-family: "Jua", sans-serif;
}

.top_box {
  position: relative;
  width: 100%;
  height: 120px;
}

.post_get_it {
  position: relative;
  width: 70%;
  height: 70px;

  border-radius: 20px;
  overflow: hidden;
  left: 50%;
  top: 10px;

  transform: translate(-50%, 0);

  text-align: center;
  margin: 0;
}

#post_get_it {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;

  outline: none;

  font-size: 0;
  transform: scale(1.2);
  background-color: navajowhite;
}

.fa-solid {
  color: white;
  text-align: center;
  position: absolute;
  font-size: 30px;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);
}

#post_get_it:hover {
  background-color: lightblue;
}

.niCKN {
  padding: 0;
  margin: 0;
  margin-top: 20px;
  font-family: "Jua", sans-serif;
}
.FW1 {
  position: relative;
  display: block;
  outline: 2px solid black;
  font-size: 20px;
  width: 25px;
  height: 20px;
  float: left;
  margin-right: 5px;
}

.FF1 {
  position: relative;
  display: block;
  outline: 2px solid black;
  font-size: 20px;
  width: 25px;
  height: 20px;
  float: left;
  margin-right: 5px;
}
.FW2 {
  position: relative;
  display: block;
  outline: 2px solid black;
  font-size: 20px;
  width: 25px;
  height: 20px;
  float: left;
  margin-right: 5px;
  right: 0;
}
.style_FW1 {
  position: absolute;
  width: 100%;
  height: 0%;
  top: -6px;
  left: -2px;
}
/* 글자 텍스트 스타일 개별설정 */
.fW1 {
  font-style: inherit;
}
.fW2 {
  font-style: unset;
}
.fW3 {
  font-style: oblique;
}
.fW4 {
  font-weight: bold;
}
.fW1.on {
  color: white;
  background-color: black;
  outline: 5px double white;
}
.fW2.on {
  color: white;
  background-color: black;
  outline: 5px double white;
}
.fW3.on {
  color: white;
  background-color: black;
  outline: 5px double white;
}
.fW4.on {
  color: white;
  background-color: black;
  outline: 5px double white;
}
.fontW1.on {
  font-style: inherit;
}
.fontW2.on {
  font-style: unset;
}
.fontW3.on {
  font-style: oblique;
}
.fontW4.on {
  font-weight: bold;
}
.FW1:hover {
  background-color: lightblue;
  color: white;
  cursor: pointer;
  outline: none;
}
.FF1:hover {
  background-color: lightblue;
  color: white;
  cursor: pointer;
  outline: none;
}
.fwb{
    font-weight: bold;

}
#style1 {
  width: 120px;
  left: 2px;
  height: 20px;
  position: absolute;
  margin: 0;
  padding-left: 0;
}
#style2 {
  width: 120px;
  right: -8px;
  height: 20px;
  position: absolute;
  margin: 0;
  padding-left: 0;
}

.sv70per {
  width: 100%;
  position: relative;
  height: 23px;
  left: 50%;
  transform: translate(-50%, 0);
}

#sellectfont {
  position: absolute;
  right: 0;
}
